span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Client Dashboard
      link(rel="stylesheet",  type='text/css', href="/stylesheets/adevelopers.css")
      script(defer, src='/javascripts/popup.js')
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    body
      .container
        nav
          ul
            li
              a(href="/admin/", class="logo")
                span.nav-item DashBoard
            li
              a(href="/admin/clients")
                i.fas.fa-tasks
                span.nav-item clients 
            li
              a(href="/admin/developers")
                i.fas.fa-tasks
                span.nav-item developers 
            li
              a(href="/admin/projects")
                i.fas.fa-tasks
                span.nav-item projects   
            li
              a(href="/admin/tasks")
                i.fas.fa-tasks
                span.nav-item tasks      
            li
              a(href="/", class="logout")
                i.fas.fa-sign-out-alt
                span.nav-item Log out
        section.main
                .main-top
                    h1 Developers 
                .main-body
                    .main-body
                    input.search-input(type="text", placeholder=" Search Developer")  
                    button.newdeveloper-button(data-modal-target="#modal") New Developer
                .modal#modal
                  .modal-header
                    .title New Developer 
                    button(data-close-button, class="close-button") &times;
                  .modal-body
                     form(action="/admin/createdev", method="get")
                              .main-user-info
                                  .user-input-box
                                      label(for="First Name ") First name 
                                      input(type="text", id="firstname", name="FirstName", placeholder=" first name" required)
                                  .user-input-box
                                      label(for="Last Name ") Last name
                                      input(type="text", id="lastName", name="LastName", placeholder="last name " required)
                                  .user-input-box
                                      label(for="Email ") Email 
                                      input(type="text", id="EmailUser  ", name="EmailUser", placeholder="Enter Email address " required)
                                  .user-input-box2
                                      label(for="Password") Password
                                      input(type="text", id="password", name="Pass", placeholder="Enter Password" required)
                                
                              .form-submit-btn
                                  input(type="submit", value="Creat Developer")
                .main-body2  
                    .card 
                    .card-body 
                        h5.card-title developers                         
                        each developer in developers 
                          li(onclick="displayPopup()") 
                          p= `User # : ${developer.Userid}`
                          p= `User type : ${developer.userType}`
                          p= `First Name : ${developer.FirstName}`
                          p= `Last Name : ${developer.LastName}`
                          p= `Email : ${developer.Email}`  
                          p= `Pass :${developer.Pass}`    
                #overlay

                .main-body2 
                         
                  
                        