span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Client Dashboard
      link(rel="stylesheet",  type='text/css', href="/stylesheets/adevelopers.css")
      script(defer, src='/javascripts/popup3.js')
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    body
      .container
        nav
          div 
            h1 
             img(src="/images/LOGO33.jpg", alt="Admin")
             
            ul
              li
                a(href="/admin/", class="logo")
                  h2 DashBoard
              li
                a(href="/admin/clients")
                  i.fas.fa-address-card 
                  span.nav-item Clients 
              li
                a(href="/admin/developers")
                  i.fas.fa-address-book
                  span.nav-item Developers 
              li
                a(href="/admin/projects")
                  i.fas.fa-cogs
                  span.nav-item Projects   
              li
                a(href="/admin/tasks")
                  i.fas.fa-tasks
                  span.nav-item Tasks      
          ul 
           a(href="/", class="logout")
                i.fas.fa-sign-out-alt
                span.nav-item Log out
        section.main
                .main-top
                    h1 Developers 
                .main-body
                    .main-body
                    
                    button.newdeveloper-button(data-modal-target="#modal") New Developer
                .modal#modal
                  .modal-header
                    .title New Developer 
                    button(data-close-button, class="close-button") &times;
                  .modal-body
                     form(action="/admin/createdev", method="get")
                              .main-user-info
                                  .user-input-box
                                      label(for="First Name ") First name 
                                      input(type="text", id="firstname", name="FirstName", placeholder=" first name" required, pattern='[A-Za-z]{3,}',title='Name must be at least 3 letters and contain only letters')
                                  .user-input-box
                                      label(for="Last Name ") Last name
                                      input(type="text", id="lastName", name="LastName", placeholder="last name " required, pattern='[A-Za-z]{3,}',title='Name must be at least 3 letters and contain only letters')
                                  .user-input-box
                                      label(for="Email ") Email 
                                      input(type="email", id="EmailUser  ", name="EmailUser", placeholder="Enter Email address " required, title='Please enter a valid email address')
                                  .user-input-box2
                                      label(for="Password") Password
                                      input(type="password", id="password", name="Pass", placeholder="Enter Password" required, pattern='(?=.*)(?=.*[a-zA-Z]).{8,}', title='Password must be at least 8 characters long and contain both letters and numbers')
                                
                              .form-submit-btn
                                  input(type="submit", value="Creat Developer")
                .main-body2  
                   each developer in developers 
                    .card 
                      .card-body 
                          p= `User # : ${developer.Userid}`
                          p= `User type : ${developer.userType}`
                          p= `First Name : ${developer.FirstName}`
                          p= `Last Name : ${developer.LastName}`
                          p= `Email : ${developer.Email}`  
                          p= `Pass :${developer.Pass}`   
                      .info-btn
                      input.btn-delet(type="button" value="Delete Client" onclick="window.location.href='developers?action=delete&Userid=#{developer.Userid}'")
                      //- input(type="button" value="Update Client" onclick="window.location.href='developers?action=update&Userid=readfrom the page atakaa its what was pased as user id $FirstName=ilefiledikonafirtsname'")
                      
    script(src=".//routes/admin.js")     
#overlay

              
                         
                  
                        