span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Client Dashboard
      link(rel="stylesheet",  type='text/css', href="/stylesheets/admin.css")
      script(defer, src='/javascripts/popup.js')
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    body
     .container
      .navigation
        nav
          div
           h1 
              img(src="/images/LOGO33.jpg", alt="Admin")
        
            ul
              li
                a(href="/admin/", class="logo")
                    h2 DashBoard
              li
                a(href="/admin/clients")
                  i.fas.fa-address-card 
                  span.nav-item clients 
              li
                a(href="/admin/developers")
                  i.fas.fa-address-book
                  span.nav-item developers 
              li
                a(href="/admin/projects")
                  i.fas.fa-cogs
                  span.nav-item projects       
              
              li
                a(href="/admin/tasks")
                  i.fas.fa-tasks
                  span.nav-item tasks    
          ul
           a(href="/", class="logout")
            i.fas.fa-sign-out-alt
            span.nav-item2 Log out
     
      section.main 
             
              .card20 
                  button.newdeveloper-button(data-modal-target="#modal")  
                    i.fas.fa-user-alt
                    h6 Admin 
                 .modal#modal
                    .modal-header
                      .title User details
                      button(data-close-button, class="close-button") &times;
                    .modal-body
                      .card-userinfo
                        
                          //- p= `User ID: ${User.Userid} `
              .card21 

                            h1 Welcome, Admin! 
                            h2 All insights and repost generation is available. 
                            
                .main-body2 
                      
                      .main-parts
                          .main-parts22
                            .col.column-1
                                .card
                                .card-body1
                                    .ct1
                                      i.fas.fa-cogs
                                      h5.card-title Projects 
                                    .ct2  
                                      p.card-text
                                        #{projects.length}
                                    //- each project in projects
                                    //-   li
                                    //-     p= project.projectname
                                        
                            .col.column-2
                                .card
                                .card-body2
                                    .ct1
                                      i.fas.fa-address-book
                                      h5.card-title Developer Accounts 
                                    .ct2  
                                      p.card-text 
                                          #{developers.length}
                                    //- each developer in developers 
                                      li
                                        p= developer.FirstName
                            .col.column-3
                                .card3
                                .card-body3
                                    .ct1
                                      i.fas.fa-address-card 
                                      h5.card-title Client Accounts 
                                    .ct2
                                      p.card-text
                                        #{clients.length}
                                    //- each client in clients 
                                      li 
                                        p= client.FirstName
                            .col.column-3
                                .card3
                                .card-body31
                                    .ct1
                                      i.fas.fa-calculator
                                      h5 Tottal
                                    .ct2 
                                      p.card-text
                                      #{clients.length}
                                    //- each client in clients 
                                      li 
                                        p= client.FirstName     
                          
                          .displayprojects 
                            h5 Project List  
                              .cont
                                h6 
                                  p No.
                                  p Project Name 
                                  p Start Date 
                                  p End Date 
                                
                            each project in projects
                               
                              .card
                                ol.a
                              
                                    .card-body4 
                                        li  
                                        p= ` ${project.projectname}` 
                                        p= ` ${project.startdate}`
                                        p= ` ${project.enddate}`

                          .side
                            .report 
                                .reportcard 
                                .reportcard-body 
                                  h5.card-title Generate project reports
                                  button.generate-btn(data-modal-target="#modal") Get report 
                                .modal#modal
                                  .modal-header
                                    .title Get Report
                                    button(data-close-button, class="close-button") &times;
                                  .modal-body 
                                    form(action="/admin/report", method="get")
                                        .user-input-box
                                                  label(for="project Name ") Project Name 
                                                  select#propertyType.select.form-control.input-lg(  name='projects'
                                                  )
                                                
                                                    each project  in projects 
                                                      li 
                                                        option(value=project.project_id) #{project.projectname}
                                                  
                                        .form-submit-btn 
                                              input(type="submit", value="Get Report", id="get-report-button")
                            .services 
                              .card 
                                h6 services surently being wokrd on
                                li 
                                    web web dev 
                                li
                                    or organisation 
                          #overlay      