span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Admin add clients
      link(rel="stylesheet",  type='text/css', href="/stylesheets/aprojects.css")
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      script(defer, src='/javascripts/popup3.js')
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    body
    .container
        nav
          div 
            h1 
             img(src="/images/LOGO33.jpg", alt="Admin")
             Admin 
            ul
              li
                a(href="/admin/", class="logo")
                  h2 DashBoard
              li
                a(href="/admin/clients")
                  i.fas.fa-address-card 
                  span.nav-item Clients 
              li
                a(href="/admin/developers")
                  i.fas.fa-address-book
                  span.nav-item Developers 
              li
                a(href="/admin/projects")
                  i.fas.fa-cogs
                  span.nav-item Projects
              li
                a(href="/admin/tasks")
                  i.fas.fa-tasks
                  span.nav-item Tasks
          ul
              a(href="/", class="logout")
                i.fas.fa-sign-out-alt
                span.nav-item Log out
        section.main
               .main-top
                    h1 Projects 
               .main-body
                    input.search-input(type="text", placeholder="Search Project")  
                    button.newproject-button(data-modal-target="#modal") New Project
                .modal#modal
                  .modal-header
                    .title New Project 
                    button(data-close-button, class="close-button") &times;
                  .modal-body
                     form(action="/admin/createproject", method="get")
                              .main-user-info
                                  .user-input-box
                                      label(for="Project Name ") Project Name
                                      input(type="text", id="Prject Name", name="ProjectName", placeholder=" Name" required ,title='Name must be at least 3 letters and contain only letters')
                                  .user-input-box
                                      label(for="Clients Name ") Client name 
                                      select#propertyType.select.form-control.input-lg(  name='client'
                                      )
                                    
                                        each client in clients 
                                          li 
                                            option(value=client.Userid) #{client.FirstName}
                                     
                                  .user-input-box
                                    
                                      label(for="Developers Name ") Developer name
                                      select#propertyType.select.form-control.input-lg(  name='developer'
                                      )
                                    
                                        each developer in developers 
                                          li 
                                            option(value=developer.Userid) #{developer.FirstName}

  
                                  .user-input-box
                                      label(for="Start date ") Start date 
                                      input(type="date", id="startdate ", name="startdate", placeholder="Enter start date" required)
                                   .user-input-box
                                      label(for="End date ") End date 
                                      input(type="date", id="enddate ", name="enddate", placeholder="Enter End date" required)    
                                  .user-input-box2
                                      label(for="Description") Product description
                                      input(type="text", id="description", name="description", placeholder="Enter description" required,)
                                
                              .form-submit-btn
                              
                                  input(type="submit", value="Creat Project")
                .main-body2  
                   each project in projects 
                    .card 
                      .card-body                                         
                            p= `Project ID : ${project.projectid}`
                            p= `Project Name : ${project.projectname}`
                             p= `Project Description : ${project.description}`


                      .info-btn
                      input.btn-delet(type="button"  value="Delete Projects" onclick="window.location.href='projects?action=delete&projectsid=#{project.projectid}'" )
                     
                      //- // so make this one for update pop up a window then on its on click, make it do like the delete so can update with the req.query params then reload teh clients page.

                      //- input(type="button" value="Update Client" onclick="updateClient('#{client.Userid}')")

    script(src=".//routes/admin.js")
                           
                              
                               
                                        
#overlay 
                
                              