span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Admin add clients
      link(rel="stylesheet",  type='text/css', href="/stylesheets/aprojects.css")
      script(defer, src='/javascripts/aclientpage.js')
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    body
    .container
        nav
          ul
            li
              a(href="/admin/", class="logo")
                span.nav-item DashBoard
            li
              a(href="/admin/clients")
                i.fas.fa-tasks
                span.nav-item clients 
            li
              a(href="/admin/developers")
                i.fas.fa-tasks
                span.nav-item developers 
            li
              a(href="/admin/projects")
                i.fas.fa-tasks
                span.nav-item projects
            li
              a(href="/admin/tasks")
                i.fas.fa-tasks
                span.nav-item tasks
            li
              a(href="/", class="logout")
                i.fas.fa-sign-out-alt
                span.nav-item Log out
        section.main
               .main-top
                    h1 Projects 
               .main-body
                    input.search-input(type="text", placeholder="Search Project")  
                    button.newproject-button(data-modal-target="#modal") New Project
                .modal#modal
                  .modal-header
                    .title New Project 
                    button(data-close-button, class="close-button") &times;
                  .modal-body
                     form(action="/admin/createproject", method="get")
                              .main-user-info
                                  .user-input-box
                                      label(for="Project Name ") Project Name
                                      input(type="text", id="Prject Name", name="ProjectName", placeholder=" Name")
                                  .user-input-box
                                      label(for="Clients Name ") Client name 
                                      select#propertyType.select.form-control.input-lg(  name='client'
                                      )
                                    
                                        each client in clients 
                                          li 
                                            option(value=client.Userid) #{client.FirstName}
                                     
                                  .user-input-box
                                    
                                      label(for="Developers Name ") Developer name
                                      select#propertyType.select.form-control.input-lg(  name='developer'
                                      )
                                    
                                        each developer in developers 
                                          li 
                                            option(value=developer.Userid) #{developer.FirstName}

  
                                  .user-input-box
                                      label(for="Start date ") Start date 
                                      input(type="text", id="startdate ", name="startdate", placeholder="Enter start date")
                                   .user-input-box
                                      label(for="End date ") End date 
                                      input(type="text", id="enddate ", name="enddate", placeholder="Enter End date")    
                                  .user-input-box2
                                      label(for="Description") Product description
                                      input(type="text", id="description", name="description", placeholder="Enter description")
                                
                              .form-submit-btn
                              
                                  input(type="submit", value="Creat Project")
                .main-body2  
                    .card 
                      .card-body 
                          h5.card-title projetcs 
                          p.card-text 
                          each project in projects 
                            li 
                              p= project.projectname 
                               
                                        
                #overlay 
                
                              