span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Admin add clients
      link(rel="stylesheet",  type='text/css', href="/stylesheets/atasks.css")
      script(defer, src='/javascripts/aclientpage.js')
      script(defer, src='/javascripts/popup.js')
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    body
    .container
        nav
          div 
           h1
             img(src="/images/logo2.jpg", alt="Admin")
             Admin  
            ul
              li
                a(href="/admin/", class="logo")
                  h2 DashBoard
              li
                a(href="/admin/clients")
                  i.fas.fa-address-card 
                  span.nav-item clients 
              li
                a(href="/admin/developers")
                  i.fas.fa-address-book
                  span.nav-item developers 
              li
                a(href="/admin/projects")
                  i.fas.fa-cogs
                  span.nav-item projects   
              li
                a(href="/admin/tasks")
                  i.fas.fa-tasks
                  span.nav-item Tasks  
          ul
              a(href="/", class="logout")
                i.fas.fa-sign-out-alt
                span.nav-item Log out
        section.main
               .main-top
                    h1 Task 
               .main-body
                    input.search-input(type="text", placeholder="Search Task")  
                    button.newproject-button(data-modal-target="#modal") New task
                .modal#modal
                  .modal-header
                    .title New Task 
                    button(data-close-button, class="close-button") &times;
                  .modal-body
                     form(action="/admin/creattask", method="get")
                              .main-user-info
                                  .user-input-box
                                      label(for="Project Name ") Project Name
                                      select#propertyType.select.form-control.input-lg(  name='developer'
                                      )
                                    
                                        each project in projects 
                                          li 
                                            option(value=project.Userid) #{project.projectid}
   
                                  .user-input-box                            
                                      label(for="Description") Task description
                                      input(type="text", id="description", name="description", placeholder="Enter description" required, pattern='[A-Za-z]{10,}',title='Name must be at least 3 letters and contain only letters')
                                
                              .form-submit-btn
                              
                                  input(type="submit", value="Creat Task")
                .main-body2  
                  each task in tasks 
                    .card 
                      .card-body                
                            p= `User # : ${task.taskid}`
                            p= `Desription: ${task.description}`
                            p= `Projectid : ${task.projectid}`
                      .info-btn
                      input(type="button" value="Delete Task") 
                      //- input(type="button" value="Update Client" onclick="window.location.href='clients?action=update&Userid=readfrom the page atakaa its what was pased as user id $FirstName=ilefiledikonafirtsname'")
                      //- // so make this one for update pop up a window then on its on click, make it do like the delete so can update with the req.query params then reload teh clients page.

                      //- input(type="button" value="Update Client" onclick="updateClient('#{client.Userid}')")

    script(src=".//routes/admin.js")     
                #overlay 
                
                              