span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Client Dashboard
      link(rel="stylesheet",  type='text/css', href="/stylesheets/client.css")
      script(defer, src='/javascripts/popup.js')
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    body
      .container
        nav
          div
           h1 
             img(src="/images/LOGO33.jpg", alt="Admin")
             Client
            ul
              li
                a(href=`/client?user=${user.Userid}`, class="logo")
                  h2 Dashboard 
              li
                a(href="/client/notes")
                  i.fas.fa-edit
                  span.nav-item Notes    
              li
                a(href="/client/projects")
                  i.fas.fa-cogs
                  span.nav-item Projects    
              
              //- li
                a(href=`/client/account?user=${user.Userid}`)
                  i.fas.fa-home
                  span.nav-item Account Details 
                
          ul
              a(href="/", class="logout")
                i.fas.fa-sign-out-alt
                span.nav-item Log out
         section.main1
                  .card20 
                    button.userdetails-button(data-modal-target2="#modal2")  
                      i.fas.fa-user-alt
                      h6 Client 
                  .modal2#modal2
                      .modal2-header
                        .title User details
                        button(data-close-button2, class="close-button") &times;
                      .modal2-body2
                        .card-userinfo
                            p= `Developer ID : ${Userid} `
                            p= `Developer Name: ${FirstName} `  
                          
                  .card21 
                         h1 Welcome, Clinet! 
                            h2 All insights and Upades are available. 
                  .main-body2                  
                      .card22
                            each project in projects
                                            li
                                              .ctn-project
                                                  .ctn-project-desc
                                                      h5 Project: #{project.project_name} 

                                                      h5 Tasks (#{project.tasks.length})
                                                      
                                                          each task in project.tasks
                                                                .card
                                                          
                                                                  .form-check
                                                                    input.form-check-input(type="checkbox", value="", id="flexCheckDefault")
                                                                    label.form-check-label(for="flexCheckDefault") #{task.task_name}
                                                                        
                                                  .ctn-project-progress
                                                    .card
                                                      h3 Progress
                                                          .row
                                                          .col-md-9.col-sm-6
                                                              .progress.blue
                                                                span.progress-left
                                                                  span.progress-bar
                                                                span.progress-right
                                                                  span.progress-bar
                                                                .progress-value 100%

                          
                            
                        
                        
                        section.main-course
                                  h1 Recent upadetes 
                                  .course-box
                                    h3 task bar update
                                    .course
                                      .box
                                        p clements update review
                                          lats cleint worked with us and they were greate a
                                          the progress is good the db has been built and they arey trying theis best to 
                                          be better, 
                                          chalenges paced during the building and set down   

                                        //- p= `Note ID : ${note.noteid}`
                                        //- p= `Task ID: ${note.taskid}`
#overlay                