span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Dev Account 
      link(rel="stylesheet",  type='text/css', href="/stylesheets/daccountdetails.css")
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    body
      .container
        nav
          ul
            li
              a(href=`/dev?user=${user.Userid}`, class="logo")
                span.nav-item DashBoard
            
            li
              a(href="/dev/projects")
                i.fas.fa-tasks
                span.nav-item Projects
             li
              a(href="/dev/notes")
                i.fas.fa-tasks
                span.nav-item Notes    
            li
              a(href=`/dev/account?user=${user.Userid}`)
                i.fas.fa-home
                span.nav-item Account Details 
                
            li
              a(href="/", class="logout")
                i.fas.fa-sign-out-alt
                span.nav-item Log out
        section.main 
            .card 
            .card-body 
                h5.card-title User Details
                p.card-text 
                   each developer in developers 
                          li
                            p= `User # : ${developer.Userid}`
                            p= `User type : ${developer.userType}`
                            p= `First Name : ${developer.FirstName}`
                            p= `Last Name : ${developer.LastName}`
                            p= `Email : ${developer.Email}`
            
                  //- p= #{user}
                  //- p= User Type: #{user.userType}
                  //- p= First Name: #{user.FirstName}
                  //- p= Last Name: #{user.LastName}
                  //- p= Email: #{user.Email}
                          
                             
                              