span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Client Dashboard
      link(rel="stylesheet",  type='text/css', href="/stylesheets/devnotes.css")
      script(defer, src='/javascripts/aclientpage.js')
      script(defer, src='/javascripts/popup.js')
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    body
      .container
        nav
          ul
            li
              a(href=`/dev?user=${user.Userid}`, class="logo")
                span.nav-item DashBoard
            
            li
              a(href="/dev/projects")
                i.fas.fa-tasks
                span.nav-item Projects
            li
              a(href="/dev/notes")
                i.fas.fa-tasks
                span.nav-item Notes
            li
              a(href=`/dev/account?user=${user.Userid}`)
                i.fas.fa-home
                span.nav-item Account Details 
                
            li
              a(href="/", class="logout")
                i.fas.fa-sign-out-alt
                span.nav-item Log out
        section.main 
            .main-top
                    h1 Notes
               .main-body
                    input.search-input(type="text", placeholder="Search Note")  
                    button.newproject-button(data-modal-target="#modal") New Note
                .modal#modal
                  .modal-header
                    .title New Note
                    button(data-close-button, class="close-button") &times;
                  .modal-body
                     form(action="#modal")
                              .main-user-info
                                  .user-input-box
                                      label(for="Project Name ") Note Name 
                                      input(type="text", id="Note Name", name=" NoteName", placeholder=" Tittle " required)
                                  .user-input-box2
                                      label(for="Clients Name ") Note Content
                                      input(type="text", id="Note Content", name="notecontent", placeholder=" Content" required)
                                  
                                
                              .form-submit-btn
                                  input(type="submit", value="Create Note")
                .main-body2  
                    .card 
                      .card-body 
                          h5.card-title Notes
                          p.card-text 
                          p= JSON.stringify(notes)
                          each note in notes
                            li(onclick="displayPopup()") 
                            p= `User # : ${note.noteid}`
                            p= `User # : ${note.taskid}`
                            p= `Description : ${note.description}`
                            
                                        
                #overlay  